.container{
    margin: auto;
}
.slider-banner,.mission__img,.video{
    width: 100%;
}
.select{
    border: none;
    outline: none;
}
.link:hover{
    color: darkgrey;
    text-decoration: none;
}
.rows:before, .rows:after{
    content: '';
    display: table;

}
.rows:after{
    clear: both;
}
.ul{
    list-style: none;
}
.link{
    color: #000000;
}
.header-top{
    margin-top: 10px;
    border-bottom: solid 1px darkgray;
    padding-bottom: 10px;
}
.language, .phonenumber{
    float: left;
}
.header-top__left, .header-top__right{
    margin-left: 10%;
}
.header-top__right{
    padding-top: 30px;
}
.btn__search{
    border: none;
    background: none;
}
.search, .login, .social{
    float: left;
    margin-left: 14px;
}
.language__select{
    width: 70px;
}
.phonenumber{
    padding-left: 30px;
}
.social__icon{
    padding-left: 10px;
}
/*end.header-top*/
.header-bottom{
    margin-top: 10px;
}
.navbar-toggle{
    background-color: black;
}
#logo{
    margin-left: 35%;
}
.logo{
    margin-left: 20px;
    width: 27%;
    padding-top: 11px;
}

.link{
    background: none !important;
}
.distant-li:hover{
    font-weight: bold;

}
.navbar-toggle{
    border: 1px solid rgba(0, 0, 0, 0.28);
}
.icon-bar{
    background-color: darkgrey;
}
/*end-header-bottom*/
/*end.origin-header*/
.origin-mission{
    margin-top: 20px;
}

.mission-header{
    text-align: center;
}
.mission-header__title{
    letter-spacing: 10px;
    color: deepskyblue;
    font-size: 15px;
}
.mission-imagewrap{
    border: solid 1px lightgray;
}
.mission-tenor{
    padding-left: 10px;
}
.mission-content{
    margin-top: 0px;
}

.read-more{
    padding-top: 10px;
    text-decoration: underline;
}
.mission-content__passage{
    padding-top: 6px;
    font-size: 15px;
}
/*end.mission-header*/
.mission-imagewrap{
    /*border: solid 1px ;*/
    margin-top: 5px;
}
.mission-imagewrap:hover{
    border: 1px solid #eee;
    box-shadow: 4px 6px 7px hsl(0, 0%, 87%);
}
.mission-content{
    padding: 10px;
}
.mission-content__title{
    font-size: 20px;
}
/*end.origin-mission*/
.origin-video{
    background-image: url("./img/kf9vYm.jpg");
    background-position: center;
    background-size: 100%;
    margin-top: 10px;
}
.button-video{
    margin-left: 30%;
}
.video{
    width: 100%;
    height: 100%;
}
.btn-info{
    background: none !important;
    outline: none !important;
    border: none !important;
}
.blue-color{
    font-size: 50px;
    color: deepskyblue;
}
.bold-text{
    font-weight: bold;
}
.origin-benefit{
    margin-top: 20px;
}
.benefit__col{
    border-bottom: solid 1px darkgray;
    margin-top: 10px;

}
.benefit__col:hover{
    border-bottom: solid 1px deepskyblue;

}
/*end.origin-benefit*/
.ball, .quote{
    padding-left: 10%;
    margin: 10px;
}
.ball{
    padding-left: 30%;
}
.quotation{
    font-family: 'Playfair Display', serif;
    font-size: 120px;
    color: deepskyblue;
    margin-bottom: -20%;
}
.quote{
    margin-top: -33%%;
}
.origin-quote{
    margin-top: 20px;
}

/*end.origin-quote*/
.origin-contact{
    background-image: url("./img/ban.png");
    margin-top: 20px;
}
.input, .btn-primary{
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
}
.contaction{
    padding: 20px;
}
.origin-contact{
    background-image: url("./img/banner-contact.png");
    margin-top: 20px;
}

.btn-primary{
    margin-top: 10px;
    border-radius: 50px;
    height: 55px;
    margin-top: 10px;
    width: 177px;
    margin-left: 48px;

}
.input{
    margin-top: 10px;
    width: 274px;
    height: 55px;
    border-radius: 50px;
    padding: 10px;
    outline: none;
    border: none;
}
.contaction{
    padding: 20px;
}
/*end.origin-contact*/
.origin-logo-sponsor{
    margin-top: 20px;
}
.logo-sponsor{
    padding-left: 5px;
    padding-top: 20px;
}
/*end.origin-logo-sponsor*/
.origin-footer{
    margin-top: 20px;
    text-align: center;
    margin-left: -19%;
}
.message-icon{
    width: 0px;
}
/*end.origin-footer*/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .slider-banner,.mission__img,.video{
        width: 100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .slider-banner,.mission__img,.video{
        width: 100%;
    }
    .header-top__right{
        padding-top: 0px !important;
    }
    .logo{
        width: 64%;
    }
    .btn__nav{
        margin-top: -8px;
    }
    .button-video {
        margin-left: 42%;
    }
    .ball-1{
        margin-top: 33%;
    }
    .quote {
        padding-right: 20%;
        margin-left: -32%;
    }

    .input {
        margin-top: 10px;
        width: 106%;
        border-radius: 50px;
        padding: 10px;
        outline: none;
        border: none;
    }
    .btn-sub{
        margin-left: 0% !important;
    }
    .origin-footer{
        text-align: left;
        margin-left: 0%;
    }
    .footer-active{
        padding-left: 20%;
        padding-left: 65%;
    }
    .footer__bottom{
        padding-top: 10px;
    }
    .icon-footer{
        padding-left: 5px;
    }
    .footer__copyright{
        padding-top: 5px;
    }
    .footer__icon{
        padding-top: 12px;
    }
    .video{
        width: 560px;
        height: 315px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .slider-banner,.mission__img,.video{
        width: 100%;
    }
    .footer-active {
        padding-left: 50%;
    }
    .ball-1 {
        margin-top: 18%;
    }
    .quotation{
        margin-bottom: -17%;
    }
    .header-top__right{
        margin-left: 170px;
    }
    .video{
        width: 560px;
        height: 315px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .slider-banner,.mission__img,.video{
        width: 100%;
    }
    .row:before, .row:after{
        display: table ;
        content: '';
    }
    .row:after{
        clear: both;
    }
    .col-md-6{
        float: left;
        width: 50%;
    }

    .search, .login, .social{
        float: left;
        padding-left: 1px;
    }
    .origin-header{
        font-size: 15px;
    }
    .header-top{
        border-bottom: solid 1px gray;
        padding-bottom: 8px;
    }
    .header-top__left, .header-top__right{
        margin-left: 0%;
    }
    .header-top__right{
        padding-left: 269px;
        padding-top: 0px;
    }
    .btn__search{
        border: none;
        background: none;
    }
    .language{
        padding-right: 15px;
        border-right: solid 1px gray;
    }
    .phonenumber{
        margin-left: 20px;
    }
    .select{
        width: 73px;
    }
    .login{
        border-left: solid 1px gray;
        border-right: solid 1px gray;
        padding-left: 13px;
        padding-right: 13px;
    }
    .fa-facebook-f, .fa-twitter, .fa-google-plus{
        padding-left: 5px;
    }
    /*end.header-top*/
    #logo{
        margin-left: 0px;
    }
    .logo{
        padding-top: 29px;
        width: 79px;

    }
    .distant-li{
        margin-left: 23px;

    }
    #nav-ul{
        margin-left: -224px;
        padding-top: 18px;
    }
    .btn__nav{
        margin-top: -10px;
        border-radius: 20px;
        padding: 10px;
        outline: none;
    }
    .btn-text{

        padding: 4px;
        padding-left: 8px;
        padding-right: 10px;
    }
    .navbar-collapse{
        margin-left: 346px !important;
        /* padding-left: 20px; */
        padding-top: 15px !important;
    }
    /*end-header-bottom*/
    .header-bottom{
    }


    /*end.origin-header*/

    .origin-slider{
        margin-top: -6px;
    }
/*end.origin-slider*/
    .mission-header{
        margin-top: 77px;
    }
    .mission-header__desc{
        font-size: 24px;
        margin-left: 106px;
        width: 876px;
        margin-top: 20px;
    }
    .mission-tenor{
        padding: 15px;
    }
    .mission-content{
        margin-top: 41px;
    }
    .mission-content__title{
        margin-top: -3px;
        font-size: 18.68px;
    }
    .read-more{
        padding-top: 22px;
        text-decoration: underline;
    }
    .mission-content__passage{
        padding-top: 6px;
        font-size: 15px;
    }
    .mission-imagewrap{
        border: solid 1px lightgray;
    }
    /*end.origin-mission*/

    .origin-video{
        background-image: url("./img/backgrounds_city_027.jpg");
        margin-top: 90px;
    }
    .btn-lg{
        margin-left: 45%;
        border: none;
        background: none;
    }
    .button-video{
        padding-top: 148px;
        padding-bottom: 200px;
    }
    .button-video{
        margin-left: 0px;
    }
    .video{
        width: 560px;
        height: 315px;
    }
    /*end.origin-video*/

    .origin-benefit{
        margin-top: 91px;
        font-size: 16px;
    }
    .benefit__col{
        border-bottom: solid 1px darkgray;

    }
    .benefit__col:hover{
        border-bottom: solid 1px deepskyblue;

    }
    /*end.origin-benefit*/
    .ball, .quote{
        padding-left: 10%;
        margin: 20px;
    }
    .ball-1{
        width: 150px;
        height: 150px;
        margin-top: 35px;
    }
    .ball{
        padding-left: 30%;
    }
    .quote{
        padding-right: 30%;
        margin-left: -182px;
    }
    .origin-quote{
        margin-top: 80px;
    }
    .italic-text{
        font-style: italic;
        font-size: 19px;
        margin-top: -67px;
        padding-top: 37px;
    }
    .bold-text{
        font-weight: bold;
    }
    .benefit__col{
        padding-bottom: 37px;
    }
    .li-benefit__icon{
        margin-top: 8px;
    }
    .li-benefit__tile{
        padding-top: 22px;
    }
    .li-benefit__content{
        padding-top: 9px;
    }
    /*end.origin-quote*/
    .origin-contact{
        margin-top: 52px;
    }
    .distant-button{
        padding-left: 62px !important;
    }
    .contact-topic{
        margin-top: 75px;
    }
    .group-input{
        margin-top: 46px;
        padding-bottom: 135px;
    }
    .quotation{
        font-family: 'Playfair Display', serif;
        font-size: 120px;
        color: deepskyblue;
        margin-top: -67px;
    }

    /*end.origin-contact*/
    .origin-logo-sponsor{
        padding-top: 28px;
        margin-top: 0px;
    }
    /*end.origin-logo-sponsor*/
    .origin-footer{
        margin-top: 36px;
        border-top: solid 1px darkgray;
        padding-top: 69px;
        font-size: 20px;
    }
    .tiny-footer{
        font-size: 18px;
    }
    .tiny-footer-copyright{
        font-size: 13px;
    }
    .footer__logo{
        margin-top: -14px;
    }
    .footer__icon{
        padding-top: 32px;
    }
    .footer__copyright{
        padding-top: 20px;
    }
    .footer-active{
        padding-left: 123px;
    }
    .icon-footer{
        padding-left: 10px;
    }
    .footer__bottom{
        padding-top: 10px;
    }
    /*end.origin-footer*/
    .message-icon{
        width: 50px;
        /* margin-right: 20px; */
        margin-top: -1436px;
        margin-left: 629px;
        outline: none;
    }
    .message-icon:hover{
        border: 1px solid #eee;
        outline: none;
    }
}